

#nav-back{
    height: 11.2em;
    background-image:url(/images/icon/nav-back.png);
    background-position: top center;
}

#navitems-row{
    background-color: rgba(255, 255, 255, 0.6);
}

#search-input{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

#search-button{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.navitems{
    font-size: 1.4em;
}
:hover.navitems{
    background-color: rgba(255, 255, 255, 0.6);
}

.nav > li:hover .dropdown-menu { display: block; }
