

#nav-back{
    height: 11.2em;
    background: url(/images/icon/nav-back.png) top center;
}

#navitems-row{
    background-color: rgba(255, 255, 255, 0.6);
}

#search-input{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

#search-button{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.navitems{
    font-size: 1.4em;
}
:hover.navitems{
    background-color: rgba(255, 255, 255, 0.6);
}

.nav > li:hover .dropdown-menu { display: block; }

#hot-item-row{
    background: url(/images/icon/timg2.png) top center no-repeat;
}

.img-home{
    border-radius: 5px;
}